/**
  *				Main Stylesheet for LoveAnalyzer
  *					<waqarmaxtan@gmail.com>
  *						~~~ Colors ~~~
  *					Dark:				#34495e;	// base color
  *					Pink: 				#ff0b8d;	// brand color
  *					Orange: 			#ffa64d;
  *
  */


body,
html
{
	min-height: 100%;
}

body
{
	background-image: linear-gradient(90deg, #ff0b8d, #ffa64d);
	color: #fff;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6
{
	font-weight: 700;
}

a
{
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

code
{
	background: #fff;
	padding: 8px;
	font-family: monospace;
	font-size: 16px;
}

footer
{
	padding-top: 25px;
}
footer a:hover,
footer a:focus
{
	color: rgba(255,255,255, 0.75);
}

.center
{
	float: none;
	margin-left: auto;
	margin-right: auto;
}

/**_-_-_-_-_-_-_-_-_- Overriding BS defaults _-_-_-_-_-_-_-_-_-**/
.navbar
{
	background: #fff;
}
.nav
{
	border: none;
}

.alert-info
{
	background: transparent;
	border: 2px solid rgba(255, 255, 255, 0.75);
	color: #fff;
}

.btn
{
	border: 2px solid rgba(255, 44, 141, 0.5);
	border-radius: 5px;
	font-weight: bold;
}

.btn-primary
{
	background: transparent;
	color: #ff0b8d;
}
.btn-primary:hover,
.btn-primary:focus
{
	background: transparent;
	border-color: #ff0b8d;
	color: #ff0b8d;
}
.btn-primary:active
{
	color: #ff0b8d !important;
	background: #fff !important;
	border-color: #ff0b8d !important;
}

.btn-default
{
	background: transparent;
	color: #fff;
	border: 1px solid #fff;
	padding: 10px 25px;
}
.btn-default:hover,
.btn-default:focus
{
	background: #fff;
	border-color: transparent;
	color: #ff0b8d;
}

/**_-_-_-_-_-_-_-_-_- Homepage Styles _-_-_-_-_-_-_-_-_-**/

/** ----- Nav Styles --------- **/
.navbar-brand,
.navbar-nav li a
{
	color: #ff0b8d;
	font-weight: bold;
}

.navbar-brand
{
	font-size: 20px;
}
.navbar-brand strong
{
	color: #ffa64d;
}

.navbar-brand:hover,
.navbar-brand:focus
{
	color: #ffa64d;
}
.navbar-brand:hover strong,
.navbar-brand:focus strong
{
	color: #ff0b8d;
}

.navbar-nav li a
{
	font-size: 14px;
}
/*.navbar-nav li a:hover,
.navbar-nav li a:focus
{

}*/

/** ----- Intro Styles --------- **/
.hero
{
	font-size: 18px;
	padding: 80px 10px;
}

.actions
{
	background: #fff;
	color: #34495e;
	line-height: 1.4;
	margin-top: 25px;
	padding: 25px;
}

.actions .btn-primary
{
	margin-top: 25px;
}

/**_-_-_-_-_-_-_-_-_- Dashboard Styles _-_-_-_-_-_-_-_-_-**/
.padded
{
	padding: 10% 10px;
	text-align: center;
}

.response
{
	margin: 0 15px 15px 0;
}


.jumbotron
{
	background: transparent;
}
/**_-_-_-_-_-_-_-_-_- Auth Styles _-_-_-_-_-_-_-_-_-**/
.register-form form,
.login-form form,
.analyze-form form
{
	margin: 8% 0;
}
